body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.container {
    margin: auto;
    width: 60%;
    padding: 5% 1%;
}
.container .form_gorp label ,
.container .form_gorp input ,
 .container .form_gorp textarea {
     /* display: block; */
margin: 1%;
padding: 1% 0%;
width: 100%;
font-size: 19px;
color: rgb(84, 105, 99);
}
.btn{
    padding: 1% 3%;
    border: none;
    margin:3%;
    background-color: rgb(135, 173, 162);
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#editbtn{
    display: none;
}

/* container 2  ========================================================*/

.container2{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    width: 60%;
    margin: auto;
    padding:3%;
    gap:16px;

}
.container2 .product{
    position: relative;
    width:100% ;
    /* height: 200px; */
}
.container2 .product img{
    /* width: 220px;
    height: 260px; */
    width: 100%;
}

.container2 .product h2{
   display: inline-block;
   padding-right: 42%;
}

.container2 .product span{
    background-color: rgb(135, 173, 162);
    color: white;
    padding: 3% ;
    width: 90px;
    /* display: inline-block; */
}

.container2 .product p{
  margin-top: 2%;
  color: gray;
  width: 180px;
  height: auto;
  /* display: inline-block; */

}

.container2 .product .price{
    position: absolute;
    top: 0;
    right: 11%;
    background-color: rgb(219, 189, 189);
    padding: 4%;
    color: rgb(255, 255, 255);
}
.container2 .product  button{
    padding: 2%;
    border: none;
    margin: 1% ;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.container2 .product button:nth-child(6){
    background-color: rgb(182, 124, 124);
}
.container2 .product button:nth-child(7){
    background-color: rgb(124, 161, 138);
}